.App {
  text-align: center;
}

.App-Header {
  background-color: #222;
  display: block;
  overflow: auto;
  color: white;
}

.Metadata {
  float: right;
  padding: 5px;
  margin: 5px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.LogsButton {
  float: left;
}

table {
  border-collapse: collapse;
}

table.center {
  margin-left:auto; 
  margin-right:auto;
}

table, td, th {
  border: 1px solid black;
}

td.Focussed {
  border: 5px solid green;  
}

td.SemiFocussedRed {
  border: 5px solid Red
}

td.SemiFocussedBlue {
  border: 5px solid Blue
}

.Message {
  padding: 10px;
  max-height: 75%; 
  overflow: auto;
}

.Gallery {
  padding: 10px;
  max-width: 90%;
  overflow: auto;
}

button.Invisible {
  display: none;
}

.Board {
  margin: 25px;
}